<!DOCTYPE html>
<html>
  <head>
    <title>{{ include.title }}</title>
    <meta name="description" content="{{ include.description }}">
    <link rel="canonical" href="{{ site.url }}{{ include.canonical }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ include.social_title }}">
    <meta property="og:description" content="{{ include.social_description }}">
    <meta property="og:url" content="{{ site.url }}{{ include.canonical }}">
    <meta property="og:site_name" content="{{ include.title }}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{ include.social_title }}">
    <meta property="twitter:description" content="{{ include.social_description }}">
    <script type="application/ld+json">{{ include.schemaorg }}</script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/assets/css/style.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#920606; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block. */
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MDQyOWFhNDAtNTQ1Mi00ZGU3LWIwYjUtNGUxMmZmM2Y5OGE0NjM2MzA5MTI0NzQyNjQyNTQ3"></script>

    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
  </head>

