html, body {
  margin: 0;
}

.home .home-figure {
  min-width: 100%;
  background: #000;
  margin: 0;
  position: relative;
}

.home .home-figure .home-figure-image {
  display: block;
  margin: auto;
  height: auto;
  max-width: 100%;
}

.home .home-figure .home-figure-sig {
  position: absolute;
  max-width: 45%;
  right: 4%;
  bottom: 0;
}

.video {
 background: #920606;
}

.video .video-figure {
  margin: 0;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video .video-figure iframe,
.video .video-figure object,
.video .video-figure embed {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 85%;
  height: 85%;
}

.connect {
  background: #920606;
  color: #fff;
}

.connect h1 {
  font-family: 'Teko', serif;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 300%;
  letter-spacing: 1px;
  padding: -1;
}

.connect h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Teko', serif;
  text-transform: uppercase;
  font-size: 200%;
  letter-spacing: 1px;
  padding: 0;
}

.connect h3 {
  font-family: 'Teko', serif;
  font-size: 175%;
}

.connect .connect-musicicons {
  padding:20px;
  text-align: center;
  margin: auto;
}

.connect .connect-figure-image {
  display: block;
  margin: auto;
  height: auto;
  max-width: 60%;
}

.connect .subscribe {
  font-size: 200%!important;
  font-family: 'Teko', serif;
  letter-spacing: 1px;
}

.connect .email {
  max-width: 250px;
  font-weight: bold;
}

.connect .button {
  max-width: 80px;
  color: black!important;
  font-weight: bold;
}

.connect .connect-socialicons {
  padding: 50px;
}

@font-face {
    font-family: 'si';
    src: url('../../assets/fonts/socicon.eot');
    src: url('../../assets/fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/socicon.woff') format('woff'),
         url('../../assets/fonts/socicon.ttf') format('truetype'),
         url('../../assets/fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../../assets/fonts/socicon.svg) format(svg);
    }
}

.soc {
    overflow:visible;
    margin:auto;
    padding:0;
    list-style:none;
    width: 100%;
    text-align: center;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 35px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 15px;
    color: #ffffff;
    background-color: #222222;
}

.soc a:hover {
    z-index: 2;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-youtube:before {
    content:'\e051';
}
.soc-spotify:before {
    content:'\e04e';
}
.soc-amazon:before {
    content:'\e05c';
}
.soc-play:before {
    content:'\e02b';
}
.soc-apple:before {
    content:'\e02e';
}
.soc-twitter:before {
    content:'\e040';
}
.soc-facebook:before {
    content:'\e041';
}
.soc-instagram:before {
    content:'\e057';
}
.soc-mail:before {
    content:'\e01f';
}

.store {
  background: #920606;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Teko', serif;
  letter-spacing: 1px;
  font-size: 140%;
  padding: 15px;
}

.product .thumbnail {
  max-height: 450px;
  padding-right: 25px;
  padding-left: 25px;
}

.product .snipcart-add-item {
  font-family: 'Teko', serif;
  text-transform: capitalize;
  font-size: 100%;
}

.end {
  background: #222222;
}

.end .end-figure {
  margin: 0;
  position: relative;
  padding-top: 3%;
  padding-bottom: 22%;
  height: 0;
  overflow: hidden;
}

.end .end-figure .end-figure-image {
  display: block;
  margin: auto;
  height: auto;
  max-width: 20%;
}
