{% include head.html title=page.title description=page.description social_title=page.social_title social_description=page.social_description canonical=page.canonical schema_org=page.schema_org %}
<body>
  <main>
    <section id="home" class="home">
      <figure class="home-figure">
        <img src="{{ site.baseurl }}{{ page.main_image }}" class="home-figure-image" alt="Antonio Pontarelli">
        <img src="{{ site.baseurl }}{{ page.signature }}" class="home-figure-sig" alt="Signature">
      </figure>
    </section>
    <section id="video" class="video">
      <figure class="video-figure">
        <iframe src="{{ page.main_video }}"></iframe>
      </figure>
    </section>
    <section id="connect" class="connect">
      <h1>Antonio Pontarelli</h1>
      <div id="connect-musicicons" class="connect-musicicons">
      <h3>Listen to Antonio's new album on:</h3>
      <ul class="soc">  
      <li><a class="soc-youtube" href="https://www.youtube.com/antoniopontarelli"></a></li>
      <li><a class="soc-spotify" href="#"></a></li>
      <li><a class="soc-amazon" href="#"></a></li>
      <li><a class="soc-play" href="#"></a></li>
      <li><a class="soc-apple" href="#"></a></li>
      </ul> </div>
      <h2>Hero of the Absurd</h2>
      <figure class="connect-figure">
        <img src="{{ site.baseurl }}{{ page.album_image }}" class="connect-figure-image" alt="Album">
      </figure>
      <div id="mc_embed_signup">
        <form action="//antoniopontarelli.us7.list-manage.com/subscribe/post?u=fdc43492c9e47d2bcb65945ee&amp;id=e2ac0aefb2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label class="subscribe" for="mce-EMAIL">subscribe to the tribe</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="enter email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fdc43492c9e47d2bcb65945ee_e2ac0aefb2" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="dink it!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
      <div id="connect-socialicons" class="connect-socialicons">
      <ul class="soc">
      <li><a class="soc-twitter" href="https://twitter.com/apontarelli"></a></li>
      <li><a class="soc-facebook" href="https://www.facebook.com/antoniopontarelli/"></a></li>
      <li><a class="soc-instagram" href="https://www.instagram.com/antoniopontarelli/"></a></li>
      <li><a class="soc-mail soc-icon-last" href="mailto:apontarellimusic@gmail.com"></a></li>
      </ul></div>
    </section>
    <section id="store" class="store">
      {% for product in site.products %}
        {% include product.html %}
      {% endfor %}
    </section>
    <footer id="end" class="end">
      <figure class="end-figure">
        <img src="{{ site.baseurl }}{{ page.end_image}}" class="end-figure-image" alt="Bagua">
      </figure>
    </footer>
  </main>
