{% include head.html title=page.title description=page.description social_title=page.social_title social_description=page.social_description canonical=page.canonical schema_org=page.schema_org %}
<body>
  <main>
    <section id="home" class="home">
      <figure class="home-figure">
        <img src="{{ page.main_image }}" class="home-figure-image" alt="Antonio Pontarelli">
      </figure>
    </section>
    <section id="video" class="video">
      <figure class="video-figure">
        <iframe src="{{ page.main_video }}"</iframe></section>
      </figure>
    <section id="music"> </section>
    <section id="list"> </section>
  </main>
